html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-box-sizing: content-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 500;
  overflow-x: hidden;
  font-family: "Archivo", sans-serif;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  opacity: 1;
}

h1 {
  font-size: 1.375rem;
  font-variation-settings: 'wght' 900;
  line-height: 1.5em;
}

@media (min-width: 64em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 87.5em) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2em;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #000;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.5rem;
    line-height: 1.2em;
    margin-bottom: 1em;
    font-weight: 900;
  }
}

@media (min-width: 87.5em) {
  h2 {
    font-size: 2.5rem;
    line-height: 1.5em;
  }
}

@media (min-width: 118.75em) {
  h2 {
    font-size: 3rem;
    line-height: 1.5em;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.625rem;
    font-weight: 700;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

@media (min-width: 64em) {
  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

h5 {
  font-size: 1rem;
  margin-bottom: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #525252;
}

@media (min-width: 64em) {
  h5 {
    font-size: 1.2rem;
    margin-bottom: 1em;
    margin-top: 0;
  }
}

h1,
h2 {
  margin-top: 0;
  font-family: "Archivo", sans-serif;
}

p,
a,
li,
* {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.75em;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 64em) {
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 118.75em) {
  p {
    font-size: 2rem;
  }
}

.title {
  color: #5c5c5c;
}

@media (max-width: 39.9375em) {
  .title {
    margin-top: 1em;
  }
}

@media (min-width: 64em) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 87.5em) {
  .title {
    font-size: 2.5rem;
  }
}

.pm-color {
  color: purple;
}

.sec-color {
  color: #000;
}

.bg-lite {
  background-color: #FFF7EA;
}

.w-100 {
  width: 100%;
}

li {
  padding-bottom: 0.5em;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-unstyled a {
  text-decoration: none;
}

.list-arrow {
  padding-left: 2ch;
}

.list-arrow li {
  list-style-image: url(../images/arrow-right-circle.svg);
  -webkit-padding-start: 1ch;
  padding-inline-start: 1ch;
}

.fw-medium {
  font-weight: 400;
}

.fw-bold {
  font-weight: bold;
}

.card {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}

@media (min-width: 64em) {
  .card {
    padding: 2em;
    margin-bottom: 3em;
  }
}

.card__header h3 {
  margin-top: 0;
}

@media (min-width: 64em) {
  .card__header h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 64em) {
  .card__body {
    padding: 1em;
  }
}

form label {
  font-size: 0.9rem;
}

@media (min-width: 64em) {
  form label {
    font-size: 1.3rem;
  }
}

.container, .hero__slide {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pb0 {
  padding-top: 2.25rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt0 {
  padding-top: 0;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pt-small {
  padding: 1em 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 64em) {
  .container, .hero__slide {
    max-width: 70em;
  }
}

@media (min-width: 87.5em) {
  .container, .hero__slide {
    max-width: 80em;
  }
}

@media (min-width: 118.75em) {
  .container, .hero__slide {
    max-width: 90em;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5em;
}

@media (min-width: 64em) {
  .grid {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 3em;
  }
}

.grid-notmob {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5em;
}

@media (min-width: 64em) {
  .grid-notmob {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 3em;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center-column, .btn-white, .css-tricks .container, .css-tricks .hero__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.w-50 {
  width: 50%;
}

.w-48 {
  width: 48%;
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb0 {
  margin-bottom: 0;
}

.al-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.al-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.br-0 {
  border-radius: 0;
}

.btn {
  padding: 0.5em 1.5em;
  border: none;
  font-size: 1rem;
  -webkit-transition: 300ms all linear;
  transition: 300ms all linear;
  font-family: "Roboto", sans-serif;
  border-radius: 26px;
}

@media (min-width: 64em) {
  .btn {
    font-size: 2rem;
    padding: 0.5em 2em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.btn svg {
  width: 2em;
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;
}

.btn:hover svg {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

.btn-primary {
  background-color: purple;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;
  text-align: center;
}

.btn-primary:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.btn-lite {
  background-color: #FFF7EA;
  color: #000;
  text-align: center;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid purple;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
}

.btn-secondary {
  background-color: #000;
  color: #ffffff;
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-secondary:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-white {
  background-color: #fff;
  color: #143979;
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;
}

.btn-white:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  padding: 0.5em 1.5em;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.main-btn svg {
  width: 2em;
}

.main-btn p {
  margin: 0 !important;
}

.d-none {
  display: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .hide-for-small {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

@media (min-width: 64em) {
  main {
    min-height: 80vh;
  }
}

.section-head {
  text-align: center;
  margin-bottom: 1em;
}

@media (min-width: 64em) {
  .section-head {
    margin-bottom: 3em;
  }
}

.section-head p {
  font-size: 0.9rem;
  line-height: 1.5em;
  color: #525252;
  margin-top: 0;
  font-weight: 500;
}

@media (min-width: 64em) {
  .section-head p {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.125rem;
    padding-top: 0.5em;
  }
}

@media (min-width: 87.5em) {
  .section-head p {
    font-size: 1.125rem;
    line-height: 2em;
    max-width: 80%;
    margin: 0 auto;
  }
}

.section-head h2 {
  margin-bottom: 0;
}

@media (min-width: 64em) {
  .section-head h2 {
    max-width: 14ch;
    margin: 0 auto;
  }
}

.section-head h3 {
  margin-top: 0.5em;
}

.shadow {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.to-center {
  margin: 0 auto;
}

.active-cat {
  background-color: purple;
}

.br-0 {
  border-radius: 0 !important;
}

.d-none {
  display: none;
}

.header .main-nav {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .main-nav__list {
  display: none;
  gap: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 64em) {
  .header .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .main-nav__list li a {
  text-decoration: none;
  color: purple;
}

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("../font/Archivo/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo', sans-serif;
  src: url("../assets/font/Archivo/Archivo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto',sans-serif;
  src: url("../font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-color: black;
}

.hero__div .hero-slider .splide__slide {
  height: 100%;
  min-height: 80vh;
  width: auto;
}

@media (min-width: 64em) {
  .hero__div .hero-slider .splide__slide {
    height: 100vh;
  }
}

.hero__slide {
  height: auto;
  text-align: left;
  padding: 2em 0;
  gap: 1em;
  width: 80vw;
}

@media (min-width: 40em) {
  .hero__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__slide h2 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: normal;
  text-align: left;
}

.hero__slide p {
  color: #fff;
  max-width: 80vh;
  margin-bottom: 2em;
  font-size: 2rem;
}

.hero__slide__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__slide__img .img-box {
  border-radius: 50%;
  overflow: hidden;
}

.hero__slide__img .img-box img {
  width: 5em;
  height: 5em;
}

@media (min-width: 40em) {
  .hero__slide__img .img-box img {
    height: 25em;
    width: 25em;
  }
}

.hero__slide__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about {
  background-color: purple;
  height: 100vh;
  color: #fff;
}

.about .container, .about .hero__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.about__div {
  text-align: center;
}

.about__div h1 {
  font-size: 4rem;
  font-family: "Archivo", sans-serif;
  margin-bottom: 0;
}

.about__div p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.portifolio {
  min-height: 180vh;
  margin: 2em 0;
}

.filter-btn {
  background-color: purple;
  color: #fff;
  padding: 1em 2em;
}

.filter-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: white;
  border-bottom: 1px solid #E4D7D7;
}

.filter-links li {
  display: inline;
  float: left;
}

.filter-links li a {
  display: block;
  color: black;
  padding: 1em 2em;
  text-decoration: none;
}

.filter-links li a:hover {
  color: red;
}

.filter-sections {
  width: 100%;
  display: block;
  overflow: hidden;
}

.filter-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 120vh;
}

.filter-sections div {
  opacity: 0;
  display: none;
  min-height: 5em;
  width: 5em;
  margin: 0.5em;
  text-align: center;
  padding: 2em 1em;
  float: left;
  -webkit-transition: all 500s ease;
  transition: all 500s ease;
}

.view {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1 !important;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  border-radius: 4px;
  -webkit-animation: selected 300ms 1 ease-in-out;
          animation: selected 300ms 1 ease-in-out;
}

@-webkit-keyframes selected {
  0% {
    border-radius: 100%;
    -webkit-transform: scale(0) rotate(-180deg);
            transform: scale(0) rotate(-180deg);
  }
}

@keyframes selected {
  0% {
    border-radius: 100%;
    -webkit-transform: scale(0) rotate(-180deg);
            transform: scale(0) rotate(-180deg);
  }
}

.javascript {
  background-color: yellow;
  color: black;
}

.html {
  background: blue;
  color: white;
}

.css {
  background: red;
  color: white;
}

.php {
  background: brown;
  color: white;
}

.dynamic-modal__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

.dynamic-modal__div .eq-card {
  background-size: cover;
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dynamic-modal__div .eq-card h3 {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.dynamic-modal__div .eq-card .enq-btn {
  margin: 0 auto;
  width: 5em;
}

.dynamic-modal__div dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.329);
}

.dynamic-modal__div dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.329);
}

.css-tricks {
  background-color: aliceblue;
  padding: 2em;
}

.css-tricks .frame {
  height: 300px;
  width: 300px;
  border: 1px solid rebeccapurple;
  background-color: black;
  -webkit-perspective: 300px;
          perspective: 300px;
  overflow: hidden;
}

.css-tricks .frame .content {
  text-align: center;
  padding-top: 10em;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.css-tricks .frame .content h4 {
  text-align: center;
  color: yellowgreen;
  font-size: 1.2rem;
}

.css-tricks .frame .shape {
  height: 300px;
  width: 300px;
  background-color: red;
  border: 1px solid black;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.css-tricks .frame .shape h2 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 10em;
}

.css-tricks .frame:hover .shape {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.player {
  width: 50%;
  background-color: #000;
  aspect-ratio: 16/9;
}

.pr-parant {
  position: relative;
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;
  min-height: 70vh;
}

.pr-parant > div {
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;
}

.pr-parant h3 {
  background-color: #fff;
}

.pr-parant .pr-fig1 {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  position: absolute;
  width: "fit-content";
  top: 0;
  z-index: 0;
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}

.pr-parant .pr-fig1 img {
  -webkit-transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
          transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}

.pr-parant .pr-fig1:hover img {
  -webkit-transform: none;
          transform: none;
}

.pr-parant .pr-fig2 {
  position: absolute;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  z-index: 2;
  top: 0;
  width: "fit-content";
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}

.pr-parant .pr-fig2 img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
  -webkit-transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
          transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
}

.pr-parant .pr-fig2:hover {
  cursor: pointer;
  z-index: 4;
}

.pr-parant .pr-fig2:hover img {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

.pr-parant .pr-fig3 {
  position: absolute;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  top: 0;
  z-index: 3;
  width: "fit-content";
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}

.pr-parant .pr-fig3 img {
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
  -webkit-transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
          transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
}

.pr-parant:hover .pr-fig1 {
  -webkit-transform: translateX(410px);
          transform: translateX(410px);
  z-index: 2;
}

.pr-parant:hover .pr-fig2 {
  -webkit-transform: translateX(-410px);
          transform: translateX(-410px);
  z-index: 3;
}

.pr-parant:hover img {
  -webkit-transform: none;
          transform: none;
}

.btn-pr .button-group {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-perspective: 200px;
          perspective: 200px;
  -webkit-perspective-origin: calc(100% - 53px);
          perspective-origin: calc(100% - 53px);
}

.btn-pr .button-group:hover .icon {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.btn-pr .text {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  letter-spacing: 3px;
}

.btn-pr .icon {
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid black;
  border-left: none;
  -webkit-transition: 400ms -webkit-transform ease-in-out;
  transition: 400ms -webkit-transform ease-in-out;
  transition: 400ms transform ease-in-out;
  transition: 400ms transform ease-in-out, 400ms -webkit-transform ease-in-out;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn-pr .button-group:hover .icon {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.abt-section {
  overflow: scroll;
  height: 100vh;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.abt-section::-webkit-scrollbar {
  display: none;
}

.abt-section section {
  scroll-snap-align: end;
  height: 100vh;
}

.abt-section section h2 {
  font-size: 7rem;
  color: lightgray;
}

.abt-section section:nth-child(1) {
  background-color: #143979;
}

.abt-section section:nth-child(2) {
  background-color: antiquewhite;
}

.abt-section section:nth-child(3) {
  background-color: aqua;
}

.abt-section section:nth-child(4) {
  background-color: aquamarine;
}

.abt-section section:nth-child(5) {
  background-color: azure;
}

.abt-section section:nth-child(6) {
  background-color: bisque;
}

.gallery .buttons {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2em;
}

.gallery .buttons button {
  padding: 1em 2em;
  background-color: purple;
  color: #fff;
}

.gallery .buttons .active-btn {
  background-color: white;
  color: #000;
}

.gallery__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__grid .img-box {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  border: 15px solid #ffffff;
  grid-column: span 1;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery__grid .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 10em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__grid .show-card {
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 20em;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery__grid .show-card img {
  width: 100%;
}

.gallery__grid .hide-card {
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 0;
  height: 0;
  margin: -1em;
}

.lite-gallery {
  padding: 4em 0;
}

.bg-splash {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-image: url(https://picsum.photos/id/1/1000/600);
  z-index: 1;
}

.bg-splash::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/splash.jpg);
  background-size: 100%;
  background-position: center;
  mix-blend-mode: screen;
  z-index: -1;
}

.bg-splash .content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 10vw;
  z-index: 999;
  background-color: #57f10f;
  padding: 1em;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */