.dice-block{
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px;
    flex-wrap: wrap;
    gap: 2px;
}
.dot{
    background-color: red;
    border: 1px solid black;
    height: 8px;
    width: 8px;
    
}
.roll-div{
    display: flex;
    justify-content: center;
}
.active{
    background-color: gray;
}